/* BAGIAN CREDITS */



.credit {
    background: #ffffff;;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    color: #128159;;
  }
  
  .credit span {
    color: #000000;
  }
  
  
  
  
  
  